In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
conn = sqlite3.connect('NBA.db')

In [40]:
foul_info = pd.read_sql('SELECT * FROM foul_information WHERE IsStarter = 1', conn)

In [41]:
foul_info.head()

,DimGameID,Player,Period,IsStarter,Fouls,RollingFoulCount,FinalFoulCount
0,2,/players/b/beverpa01.html,1st Q,1,1,1,4
1,2,/players/b/beverpa01.html,2nd Q,1,2,3,4
2,2,/players/b/beverpa01.html,3rd Q,1,1,4,4
3,2,/players/b/beverpa01.html,4th Q,1,0,4,4
4,2,/players/b/bradlav01.html,1st Q,1,1,1,3

In [42]:
foul_info['PeriodID'] = foul_info['Period'].map({'1st Q': 1
                                                , '2nd Q': 2
                                                , '3rd Q': 3
                                                , '4th Q': 4
                                                })
foul_info['NextPeriodID'] = foul_info['PeriodID'].map({1:2, 2:3, 3:4})

In [43]:
foul_info.head()

,DimGameID,Player,Period,IsStarter,Fouls,RollingFoulCount,FinalFoulCount,PeriodID,NextPeriodID
0,2,/players/b/beverpa01.html,1st Q,1,1,1,4,1,2.0
1,2,/players/b/beverpa01.html,2nd Q,1,2,3,4,2,3.0
2,2,/players/b/beverpa01.html,3rd Q,1,1,4,4,3,4.0
3,2,/players/b/beverpa01.html,4th Q,1,0,4,4,4,NaN
4,2,/players/b/bradlav01.html,1st Q,1,1,1,3,1,2.0

In [44]:
foul_info[foul_info['PeriodID'] < 4][['Period','RollingFoulCount','PeriodID']].groupby(['Period','RollingFoulCount'], as_index = False
                  ).count().rename(columns = {'PeriodID':'TotalPlayers'})

   Period  RollingFoulCount  TotalPlayers
0   1st Q                 0          5880
1   1st Q                 1          3786
2   1st Q                 2           905
3   1st Q                 3            28
4   1st Q                 4             1
5   2nd Q                 0          3150
6   2nd Q                 1          4026
7   2nd Q                 2          2599
8   2nd Q                 3           801
9   2nd Q                 4            24
10  3rd Q                 0          1597
11  3rd Q                 1          2944
12  3rd Q                 2          3030
13  3rd Q                 3          2063
14  3rd Q                 4           888
15  3rd Q                 5            78

In [47]:
pd.set_option('display.max_rows', None)
foul_info[foul_info['PeriodID'] < 4][['Period','RollingFoulCount','FinalFoulCount','PeriodID']].groupby(['Period','RollingFoulCount','FinalFoulCount'], as_index = False
                  ).count().rename(columns = {'RollingFoulCount':'EndingPeriodFouls'
                                             ,'PeriodID':'Players'})

   Period  EndingPeriodFouls  FinalFoulCount  Players
0   1st Q                  0               0      990
1   1st Q                  0               1     1577
2   1st Q                  0               2     1466
3   1st Q                  0               3      995
4   1st Q                  0               4      551
5   1st Q                  0               5      241
6   1st Q                  0               6       60
7   1st Q                  1               1      573
8   1st Q                  1               2     1037
9   1st Q                  1               3     1010
10  1st Q                  1               4      729
11  1st Q                  1               5      370
12  1st Q                  1               6       67
13  1st Q                  2               2      171
14  1st Q                  2               3      296
15  1st Q                  2               4      246
16  1st Q                  2               5      152
17  1st Q                  2               6       40
18  1st Q                  3               3        8
19  1st Q                  3               4       12
20  1st Q                  3               5        8
21  1st Q                  4               4        1
22  2nd Q                  0               0      990
23  2nd Q                  0               1     1038
24  2nd Q                  0               2      679
25  2nd Q                  0               3      288
26  2nd Q                  0               4      107
27  2nd Q                  0               5       36
28  2nd Q                  0               6       12
29  2nd Q                  1               1     1112
30  2nd Q                  1               2     1305
31  2nd Q                  1               3      895
32  2nd Q                  1               4      475
33  2nd Q                  1               5      207
34  2nd Q                  1               6       32
35  2nd Q                  2               2      690
36  2nd Q                  2               3      872
37  2nd Q                  2               4      650
38  2nd Q                  2               5      314
39  2nd Q                  2               6       73
40  2nd Q                  3               3      254
41  2nd Q                  3               4      298
42  2nd Q                  3               5      202
43  2nd Q                  3               6       47
44  2nd Q                  4               4        9
45  2nd Q                  4               5       12
46  2nd Q                  4               6        3
47  3rd Q                  0               0      990
48  3rd Q                  0               1      415
49  3rd Q                  0               2      146
50  3rd Q                  0               3       36
51  3rd Q                  0               4        7
52  3rd Q                  0               5        3
53  3rd Q                  1               1     1735
54  3rd Q                  1               2      806
55  3rd Q                  1               3      298
56  3rd Q                  1               4       86
57  3rd Q                  1               5       16
58  3rd Q                  1               6        3
59  3rd Q                  2               2     1722
60  3rd Q                  2               3      867
61  3rd Q                  2               4      314
62  3rd Q                  2               5      108
63  3rd Q                  2               6       19
64  3rd Q                  3               3     1108
65  3rd Q                  3               4      625
66  3rd Q                  3               5      275
67  3rd Q                  3               6       55
68  3rd Q                  4               4      507
69  3rd Q                  4               5      308
70  3rd Q                  4               6       73
71  3rd Q                  5               5       61
72  3rd Q                  5               6       17

In [46]:
pd.merge(
foul_info[foul_info['PeriodID'] < 4][['Period','RollingFoulCount','FinalFoulCount','PeriodID']].groupby(['Period','RollingFoulCount','FinalFoulCount'], as_index = False
                  ).count().rename(columns = {'PeriodID':'Players'})

, 
foul_info[foul_info['PeriodID'] < 4][['Period','RollingFoulCount','PeriodID']].groupby(['Period','RollingFoulCount'], as_index = False
                  ).count().rename(columns = {'PeriodID':'TotalPlayers'})
)

   Period  RollingFoulCount  FinalFoulCount  Players  TotalPlayers
0   1st Q                 0               0      990          5880
1   1st Q                 0               1     1577          5880
2   1st Q                 0               2     1466          5880
3   1st Q                 0               3      995          5880
4   1st Q                 0               4      551          5880
5   1st Q                 0               5      241          5880
6   1st Q                 0               6       60          5880
7   1st Q                 1               1      573          3786
8   1st Q                 1               2     1037          3786
9   1st Q                 1               3     1010          3786
10  1st Q                 1               4      729          3786
11  1st Q                 1               5      370          3786
12  1st Q                 1               6       67          3786
13  1st Q                 2               2      171           905
14  1st Q                 2               3      296           905
15  1st Q                 2               4      246           905
16  1st Q                 2               5      152           905
17  1st Q                 2               6       40           905
18  1st Q                 3               3        8            28
19  1st Q                 3               4       12            28
20  1st Q                 3               5        8            28
21  1st Q                 4               4        1             1
22  2nd Q                 0               0      990          3150
23  2nd Q                 0               1     1038          3150
24  2nd Q                 0               2      679          3150
25  2nd Q                 0               3      288          3150
26  2nd Q                 0               4      107          3150
27  2nd Q                 0               5       36          3150
28  2nd Q                 0               6       12          3150
29  2nd Q                 1               1     1112          4026
30  2nd Q                 1               2     1305          4026
31  2nd Q                 1               3      895          4026
32  2nd Q                 1               4      475          4026
33  2nd Q                 1               5      207          4026
34  2nd Q                 1               6       32          4026
35  2nd Q                 2               2      690          2599
36  2nd Q                 2               3      872          2599
37  2nd Q                 2               4      650          2599
38  2nd Q                 2               5      314          2599
39  2nd Q                 2               6       73          2599
40  2nd Q                 3               3      254           801
41  2nd Q                 3               4      298           801
42  2nd Q                 3               5      202           801
43  2nd Q                 3               6       47           801
44  2nd Q                 4               4        9            24
45  2nd Q                 4               5       12            24
46  2nd Q                 4               6        3            24
47  3rd Q                 0               0      990          1597
48  3rd Q                 0               1      415          1597
49  3rd Q                 0               2      146          1597
50  3rd Q                 0               3       36          1597
51  3rd Q                 0               4        7          1597
52  3rd Q                 0               5        3          1597
53  3rd Q                 1               1     1735          2944
54  3rd Q                 1               2      806          2944
55  3rd Q                 1               3      298          2944
56  3rd Q                 1               4       86          2944
57  3rd Q                 1               5       16          2944
58  3rd Q                 1               6        3          2944
59  3rd Q                 2               2     1722          3030
60  3rd Q                 2               3      867          3030
61  3rd Q                 2               4      314          3030
62  3rd Q                 2               5      108          3030
63  3rd Q                 2               6       19          3030
64  3rd Q                 3               3     1108          2063
65  3rd Q                 3               4      625          2063
66  3rd Q                 3               5      275          2063
67  3rd Q                 3               6       55          2063
68  3rd Q                 4               4      507           888
69  3rd Q                 4               5      308           888
70  3rd Q                 4               6       73           888
71  3rd Q                 5               5       61            78
72  3rd Q                 5               6       17            78